<!-- recieves book -->
<td>
<% if book.favorited_by?(current_user) %>
	<%= render 'books/unlike', book: book %>
<% else %>
	<%= render 'books/like', book: book %>
<% end %>
<span id="favorites"><%= book.favorites.count %></span>
</td>